pandas==2.3.1
matplotlib==3.9.4
numpy==2.0.2
nltk==3.9.2
textstat==0.7.10
scikit-learn==1.6.1
bertopic==0.17.3
sentence-transformers==5.1.2
statsmodels==0.14.5
seaborn==0.13.2
scipy==1.13.1
xgboost==2.1.4
torch==2.5.1